body{
     padding-top: 100px
}
#banner{
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.lead{
    color:#FFF;
}
#quem{
    background: #BFB6AE;
background: linear-gradient(180deg,rgba(191, 182, 174, 1) 0%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 93%);
}
h2{
    color: #735A4C;
}
section{
    text-align: center;

}
#proposito{
    background-color: #734743;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px;
    margin-bottom: 60px;
    border-radius: 30px 80px;

}
h3{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
#colecao{
    background: #FFF;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(191, 182, 174, 1) 31%, rgba(149, 129, 115, 1) 59%, rgba(115, 90, 76, 1) 92%);
    width: 100%;
    height: 100vh;
}

#linha{
    background-color: #734743;
}
